<h1><%= @restaurant.name %></h1>

<h3>Categorty</h3>
<p><%= @restaurant.category.capitalize %></p>

<h3>Address</h3>
<p><%= @restaurant.address %></p>

<h3>Phone Number</h3>
<p><%= @restaurant.phone_number %></p>

<h2>Reviews</h2>

<% @restaurant.reviews.each do |review| %>
  <div class="card">
    <p><%= review.content %></p>
    <p><%= review.rating %></p>
  </div>
<% end %>

<br>

<p><%= link_to "Edit Restaurant", edit_restaurant_path(@restaurant), class: "btn btn-primary" %>
<%= link_to "Delete", restaurant_path(@restaurant), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?"} %>

<%= link_to "Back to Restaurants", restaurants_path, class: "btn btn-info" %></p>

<p><%= link_to "Create Review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %></p>



